{% import "_macros.html" as macros %}

<!doctype html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {% block feed_link %}
  {% endblock feed_link %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif+SC:wght@200..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap"
    rel="stylesheet"
    crossorigin="anonymous">
  <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'
    integrity="sha384-lnvXb4jt0lfurlwpl/DgFKSL4Q/CX41Lz3OqIvzxbMPbVvubCu1MVoabK9Yzz7GB"
    crossorigin="anonymous">
  <link rel="stylesheet" href='{{ get_url(path="style.css") }}'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet"
    integrity="sha384-rWj9FmWWt3OMqd9vBkWRhFavvVUYalYqGPoMdL1brs/qvvqz88gvLShYa4hKNyqb"
    crossorigin="anonymous">

  {% block head %}
  {% endblock head %}
</head>

<body class="body-block">
  <div id="sidebar-mask" onclick="toggleSidebar()"></div>

  {% if current_path != "/" %}
  <div id="sidebar" class="">
    <div class="logo-title">
      <div class="title-inner">
        {% if config.extra.avatar %}
        <div class="avatar">
          <picture>
            <source srcset="{{ get_url(path='images/avatar.webp') }}" type="image/webp">
            <img src="{{ get_url(path=config.extra.avatar) }}" alt="avatar" loading="lazy">
          </picture>
        </div>
        {% endif %}

        <div class="title">
          <h3><a href="{{ get_url(path='@/_index.md', lang=lang) }}">{{ config.title }}</a></h3>
          <div class="description">
            <p>{{ config.description }}</p>
          </div>
        </div>
      </div>

      <ul class="social-links">
        {% for link in config.extra.social_links %}
        <li>
          <a href="{{ link.url | safe }}" aria-label="{{ link.name | title }}">
            <i class="{{ macros::social_icon(name=link.name) }}"></i>
          </a>
        </li>
        {% endfor %}
      </ul>
      <nav class="sidebar-nav">
        {% for nav_link in config.extra.nav_links %}
        <a href="{{ get_url(path=nav_link.path, lang=lang) }}">{{ nav_link.label }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
  {% endif %}

  <div id="main">
    {% if current_path != "/" %}

    <div class="page-top">

      <nav class="nav">
        <a href="{{ get_url(path='@/_index.md', lang=lang) }}">
          Accueil | Home
        </a>
        {% for nav_link in config.extra.nav_links %}
        <a href="{{ get_url(path=nav_link.path, lang=lang) }}" {% if current_path is starting_with(nav_link.short_path)
          %} class="active" {% endif %}>
          {{ nav_link.label }}
        </a>
        {% endfor %}
      </nav>

      <div class="information">
        <div class="back_btn">
          <a onclick="window.history.go(-1)" aria-label="Go back"><i class="fas fa-chevron-left"></i></a>
        </div>
        <div class="theme_btn">
          <a onclick="toggleTheme()" aria-label="Toggle theme"><i class="fas fa-moon" id="theme-icon"></i></a>
        </div>
        <div class="avatar_btn">
          <a onclick="toggleSidebar()" aria-label="Toggle sidebar"><i class="fas fa-bars"></i></a>
        </div>
      </div>
    </div>

    {% endif %}

    <div class="autopagerize_page_element">
      <div class="content animated fadeIn {% if current_path == '/' %}home-content{% endif %}">
        {% block content %}{% endblock content %}
      </div>
    </div>
    <div class="page-footer">
      <div class="footer-content">
        <span>Built with <a href="https://www.getzola.org/" target="_blank">Zola</a></span>
      </div>
    </div>
  </div>

  <script src="{{ get_url(path='main.js') }}"></script>
  <script src="https://instant.page/5.1.0" type="module"
    integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
</body>

</html>