{% extends "_base.html" %}
{% block title %}
{{ config.title }}
{% endblock title %}
{% block head %}

<!-- Primary Meta Tags -->
<meta name="description" content="{{ config.description }}" />

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ config.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ config.base_url | safe }}" />

<!-- Twitter -->

{% endblock head %} {% block content %}
<div class="home-container">
  <div class="home-intro">
    <div class="logo-title">
      <div class="title-inner">
        {% if config.extra.avatar %}
        <div class="avatar">
          <picture>
            <source srcset="{{ get_url(path='images/avatar.webp') }}" type="image/webp">
            <img src="{{ get_url(path=config.extra.avatar) }}" alt="avatar" loading="lazy">
          </picture>
        </div>
        {% endif %}
        <div class="title">
          <h3>Karen Turman</h3>
          <div class="description">
            <p>Professeure, Danseuse, Éducatrice</p>
            <p>Professor, Dancer, Educator</p>
          </div>
        </div>
      </div>
      <ul class="social-links">
        {% for link in config.extra.social_links %}
        <li>
          <a href="{{ link.url | safe }}" aria-label="{{ link.name | title }}">
            <i class="{{ macros::social_icon(name=link.name) }}"></i>
          </a>
        </li>
        {% endfor %}
      </ul>

      <nav class="home-nav">

        {% for nav_link in config.extra.nav_links %}
        <a href="{{ get_url(path=nav_link.path, lang=lang) }}">
          {{ nav_link.label }}
        </a>
        {% endfor %}

      </nav>
    </div>
  </div>
</div>
{% endblock content %}